<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>dector.space</title>

    <link rel="stylesheet" href="/assets/styles.css?{{page.buildUid}}" />

    {{{page.inHead}}}
</head>

<body class="p-gateway">
    <div class="flex content-center justify-center items-center min-h-screen">
        <a class="font-mono font-thin text-5xl p-4 flex-none" href="/log">&nbsp;/log&nbsp;</a>
    </div>
</body>

</html>