<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{{page.title}}}</title>

    <link rel="stylesheet" href="/assets/styles.css?{{page.buildUid}}" />
    <link rel="stylesheet" href="/assets/highlightjs-11.9.0-theme.min.css?{{page.buildUid}}" />

    {{{page.inHead}}}
</head>

<body class="p-log">
    <!-- <div class="page_content"> -->
    <main>{{{page.content}}}</main>
    <!-- <aside>
        Who etc.
    </aside> -->
    <!-- </div> -->
</body>

</html>
