@import "tailwindcss";

@theme {
    --color-background: #272727;
    --color-link1: #ffe400;
    --color-link2: #14a76c;
    --color-link3: #ff652f;
    --color-link3-darker: #cc3600;
    --color-normal: #878787;
    --color-normal-lighter: #959595;
    --color-normal-lighter2: #a3a3a3;
    --color-normal-lighter3: #b2b2b2;
    --color-muted: #595959;

    --font-sans: "DejaVu Sans", sans-serif;
    --font-mono: "Noto Sans Mono", "DejaVu Sans Mono", monospace;
}
