@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-background: #272727;
	--color-link1-base: #ffe400;
	--color-link2-base: #14a76c;
	--color-link3-base: #ff652f;
	--color-link3-darker: #cc3600;
	--color-normal: #737373;
	--color-muted: #595959;
}

html {
	@apply bg-background text-normal;

	font-family: "DejaVu Sans", sans-serif;
}

main {
	@apply mx-auto max-w-4xl;
	@apply text-lg;

	@apply flex flex-col gap-4;
	/* @apply w-full; */
}

body.p-gateway {
	a {
		@apply text-link3 no-underline;
	}
	a:hover {
		@apply text-background bg-link3;
	}
}

body.p-log {
	h1 {
		@apply font-thin text-3xl text-normal;
	}

	a {
		@apply no-underline text-link3 px-0.5 opacity-90;
	}

	a:hover {
		@apply bg-link3 text-background;
	}

	main {
		@apply py-12;
	}

	article {
		@apply flex flex-col gap-4;
	}

	article.content {
		a {
			@apply opacity-75;
		}

		/* a:hover { */
		/* @apply underline; */
		/* @apply bg-link3 text-background; */
		/* } */
	}

	article section {
		@apply flex flex-col gap-4;
	}

	.nav {
		a {
			@apply opacity-90;
		}
	}

	/* article {
		@apply flex flex-col gap-0;
	} */

	ul.entries-list {
		@apply list-none list-outside p-0;
	}

	.code-block {
		@apply relative;
	}

	.code-block pre {
		@apply p-0 m-0;
	}

	.code-block .lang-tag {
		@apply absolute inline right-0 top-0;
		@apply text-muted text-sm p-2 uppercase;
	}

	.logentry-date {
		@apply text-normal opacity-75 font-light;
	}

	/* aside {
		@apply min-w-[20em] bg-red-200 flex-grow;
	} */

	/* .page_content {
		@apply mx-auto max-w-4xl;
		@apply flex;
	} */
}
